#processPanel9 {
float:right;
}
#searchareas {
float:left;
}
#searchbox {
    height:387px;
    width:195px;
    background-color: #ffffff;
	border: 1px solid #dbe6ee;
    box-shadow: 0 1px 1px #777;   
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
    margin-top:30px;
    
}
#flightdetails {
    height:auto;
    width:195px;
    background-color: #ffffff;
	border: 1px solid #dbe6ee;
    box-shadow: 0 1px 1px #777;
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
    margin-top:30px;
}
h3 {
text-align:center;
width:193px;
height:23px;
color:#F69D0E;
}
#depart1 {
    height:280px;
    width:178px;
   
}
#return1 {
    height:280px;
    width:178px;
    
}
.heading {
     margin-top:5px;
    font-weight:bold;
    color:white;
    width:189px;
    height:19px;
    background-color:#53BAE3; 
    text-align:center;
    
}
.flight {
    height:96px;
    width:189px;
    background-color:#F69D0E;
    margin-top:5px;
    color:white;
}
.priceheading {
    font-weight:bold;
    margin-top:5px;
    height:16px;
    width:189px
}
.pricedisplay {
    margin-top:5px;
    height:96px;
    width:189px

}
.Div1 {
    height:1px;
    width:189px;
    background-color:#53BAE3; 
}
#totalheading {
    margin:auto;
    font-size:large;
    font-weight:bold;
    color:white;
    width:189px;
    height:29px;
    background-color:#53BAE3; 
    text-align:center;
}
#totalprice {
margin-top:5px;
text-align:center;
width:193px;
height:43px;
color:#F69D0E;
}
