
#product_content_box {
background-image:url(http://localhost:1717/images/barorange.jpg);
height:289px;
width:1024px;
margin:auto;
border-radius:5px;
box-shadow: 0 1px 1px #777;
}
#searchpad {
margin-top:10px;
margin-bottom:100px;
}


  .ui-tabs-vertical { width: 55em; 
                     
                       

  }
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; 
                                   float: left; width: 12em; 
                                   
                                   list-style: none; 
                                   color:white; 
                                   margin-right:10px;
                                   margin-top:30px;
  }
  .ui-tabs-vertical .ui-tabs-nav li { 
      display:inline-block;
      padding:10px;
      position: relative;
      font-size:20px;
      clear: left; 
      width: 100%; 
      margin: 0 -1px .2em 0; 

  }
  .ui-tabs-vertical .ui-tabs-nav li a {  
	font-weight:bold;
	text-decoration:none;
    display:inline-block;
    color:white;

  }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { 
       
      padding:10px; 
      background-color:#f6b11d;


  }
  .ui-tabs-vertical .ui-tabs-panel { 
      padding: 1em; 
      float: right; 
      width: 40em; 
      background-color:white;
      margin-top:30px;
  }
#product_box2 {
    zoom: 1; 
	position: relative; 
	width:540px;
    height:260px;
	margin:30px;
    background-color:white;
	border:9px solid #dbeaf5;
	text-align:left; /* reset align=center */
    float:left;
    box-shadow: 0 1px 1px #777;
}
#product_box3 {
position:relative;
margin:20px;
float:right;

}
  
